<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<plugin xmlns="http://plugin.powerschool.pearson.com" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://plugin.powerschool.pearson.com plugin.xsd" name="Student GlobalID Auto Update" version="1.0.1" description="Automatically updates the student's globalid to their email.">
  <publisher name="Steven Riehl">
    <contact email="sr@stevenriehl.com"/>
  </publisher>
</plugin>